body {
  margin: 0;
  padding: 0;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  background-image: url("../images/bb.JPG");
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
  animation-name: slide;
}

.box {
  border: 2px solid black;
  margin-top: 70px;
  margin-left: 395px;
  margin-right: 355px;
  background-color: black;
}

.contact-title {
  margin-top: 100px;
  color: #fff;
  text-transform: uppercase;
  transition: all 4s ease-in-out;
}

.contact-title h1 {
  font-size: 32px;
  line-height: 10px;
  color: orange;
}

form {
  padding: 40px;
  transition: all 4s ease-in-out;
}
form .submit {
  background: orange;
  border-color: transparent;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
}
form .submit:hover {
  cursor: pointer;
}
