.tablebox h1 {
    color: orange;
    margin-top: 80px;
    font-weight: bold;
    font-style: italic;
    font-family: serif;

}

.tablebox {
    width: 80%;
    margin: auto;
    text-transform: capitalize;
}

.tablebox .table tr td,
th {
    padding: 10px;
    text-align: center;
}

table th {
    font-size: 18px;text-align: center;
}

.content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}
