body {
	margin: 0;
	padding: 0;
	font-family: "Roboto",sans-serif;
}
header {
	position: fixed;
	background: #22242A;
	padding: 20px;
	width: 100%;
	height: 30px;
}

ul li{
	text-decoration:none;
}
ul li ul{
	display: inline-block;
}
ul li:hover{
			background: #000;
		}
ul li:hover ul{
			display: block;
		}
ul li ul{
			position: absolute;
			width: 200px;
			margin-left: 0;
			display: none;
		}
ul li ul li{
			background: #000;
			display: block;
		}
ul li ul li a{
			display: block !important;
		}
ul li ul li:hover{
			background: #666;
		}

.left_area h3{
	color: #fff;
	margin: 0;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 800;
}
.left_area span {

	color: orange;
}
.logout_btn {
	background: #0D9DBB;
}
.sidebar {
	background: #2F323A;
	position: fixed;
	left: 0;
	width: 250px;
	height: 100%;
	transition: 0.5s;
	transition-property: left;
}
.sidebar .profile_image {
	width: 100px;
	height: 100px;
	border-radius: 100px;
	margin-bottom: 10px;
}
.sidebar h4{
	color: #ccc;
	margin-top: 0;
	margin-bottom: 20px;
}
.sidebar a{
	color: #fff;
	display: block;
	width: 100%;
	line-height: 60px;
	text-decoration: none;
	padding-left: 40px;
	box-sizing: border-box;
	transition: 0.5s;
	transition-property: background;
}
.sidebar a:hover {
	background: orange;
}
.sidebar i{
	padding-right: 10px;
}
label #sidebar_btn {
	z-index: 1;
	color: #fff;
	position: fixed;
	cursor: pointer;
	left: 300px;
	font-size: 20px;
	margin: 5px 0;
	transition: 0.5s;
	transition-property: color;
}
label #sidebar_btn:hover {
	color: orange;
}
#check:checked ~ .sidebar{
	left: -190px;
}
#check:checked ~ .sidebar a span{
	display: none;
}
#check:checked ~.sidebar a{
	font-size: 20px;
	margin-left: 17px;
	width: 80px;
}
.content{
	margin-left: 250px;
	background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
	background-image: url(../images/bb.JPG);
	background-image: cover;
	background-position: center;
	background-size: cover;
	height: 100vh;
	transition: 0.5s;
}
#check:checked ~ .content{
	margin-left: 60px;
}
#check {
	display: none;
}