* selector{
  margin:0;
  padding: 0;
}



body{
	margin: 0;
	padding: 0;
	text-align: center;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/bb.JPG');
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
	

}


 .container{
  position: absolute;
  display: flex;
  background: #000;
  width: 100%;
  height: 97px;
}