body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden; /*

	background: linear-gradient(0,0,0,0.1) ,url(we.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #000;*/
  background-color: black;
}

.images {
  top: 10%;
}
.banner1,
.banner2,
.banner3,
.banner4 {
  height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.home-page img {
  width: 120%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: zoom-out 3s linear infinite;
}
@keyframes zoom-out {
  100% {
    width: 100%;
  }
}
.text-box {
  width: 500px;
  position: absolute;
  color: #fff;
  animation: textup 12s linear infinite;
  transform: translateY(60px);
  background: orange;
  height: 1000px;
  margin-left: 70%;
}
h1 {
  color: #fff;
  padding-top: 200px;
  margin-left: 20px;
  padding-right: 50px;
  font-size: 40px;
}

.banner1 {
  animation: slide1 12s linear infinite;
}

.banner2 {
  animation: slide2 12s linear infinite;
}

.banner3 {
  animation: slide3 12s linear infinite;
}

.banner4 {
  animation: slide4 12s linear infinite;
}

@keyframes slide1 {
  0% {
    visibility: visible;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  75% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes slide2 {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: visible;
  }
  75% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes slide3 {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  75% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes slide4 {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  75% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes textup {
  10% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
}
.text-box1 {
  animation-delay: 0s;
}

.text-box2 {
  animation-delay: 3s;
}

.text-box3 {
  animation-delay: 6s;
}

.text-box4 {
  animation-delay: 9s;
}
