.zoom-image {
	width: 80%;
	height: auto;
	animation: zoom-out 3s infinite alternate;
  }
  
  @keyframes zoom-out {
	0% {
	  transform: scale(1);
	}
	100% {
	  transform: scale(1.2);
	}
}
	.carousel-caption {
			position: absolute;
			left: 50%;
			bottom: 50px;
			transform: translateX(-50%);
			width: 300px;
			padding: 20px;
			background-color: orange;
			color: white;
			text-align: left;
			animation-name: slideUp;
			animation-duration: 1s;
			animation-timing-function: ease-in-out;
		}
	
		@keyframes slideUp {
			0% {
				transform: translate(-50%, 100%);
			}
			100% {
				transform: translate(-50%, 0);
			}
		}
	